{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "core/css/theme.min.css" %}"/>
</head>

<body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">
 <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">
          <div class="text-center">
            <img src="{% static "core/img/lost.svg" %}" alt="404" class="img-fluid">
          </div>

        </div>
        <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
          
          <div class="text-center">
            <h6 class="text-uppercase text-muted mb-4">
              404 error
            </h6>

            <h1 class="display-4 mb-3">
              There’s no page here 😭
            </h1>

            <p class="text-muted mb-4">
              Looks like you ended up here by accident? 
            </p>
            <a href="index.html" class="btn btn-lg btn-primary">
              Return to your dashboard
            </a>
          
          </div>

        </div>
      </div> 
    </div>
</body>
</html>