{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "core/css/theme.min.css" %}"/>
</head>

<body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 my-5">
            <h1 class="display-4 text-center mb-3">
                Sign in
            </h1>
            <p class="text-muted text-center mb-5">
                Free access to our dashboard.
            </p>
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ msg.message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" placeholder="name@address.com">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">

                            <label>Password</label>
                        </div>
                        <div class="col-auto">
                            <a href="password-reset.html" class="form-text small text-muted">
                                Forgot password?
                            </a>
                        </div>
                    </div>
                    <div class="input-group input-group-merge">

                        <input type="password" name="password" class="form-control form-control-appended"
                               placeholder="Enter your password">

                        <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fe fe-eye"></i>
                  </span>
                        </div>

                    </div>
                </div>
                <button class="btn btn-lg btn-block btn-primary mb-3">
                    Sign in
                </button>
            </form>

        </div>
    </div>
</div>

</body>
</html>