img[src$="admin/img/icon-no.gif"]+span, img[src$="admin/img/icon-no.svg"]+span{
    color: #c7254e;
}

img[src$="admin/img/icon-yes.gif"]+span, img[src$="admin/img/icon-yes.svg"]+span{
     color: #2faa60;
}