.errorlist {
    color: #e63757;
    margin-bottom: 0;
    padding-left: 5px;
    font-size: .8125rem;
    margin-top: .25rem;
}

.errorlist li {
    list-style: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#preview-wrapper{
    opacity: 0;
    height: 0;
    transition: opacity 0.5s ease .5s, height .5s ease;
}
.scanning-image {
    position: relative;
    width: 360px;
    height: 239px;
}

.focus {
    position: absolute;
    filter: blur(8px);
    opacity: 0.6;
}

.mask-corner {
    position: absolute;
    left: 0;
    width: 100px;
    height: calc(100% + 1px);
    animation: mask 1.5s ease infinite alternate;
    z-index: 99;
    background: linear-gradient(#fff, #fff 0) no-repeat, linear-gradient(to right, #fff, #fff 0) no-repeat, linear-gradient(to right, #fff, #fff 0) bottom left no-repeat, linear-gradient(to right, #fff, #fff 0) bottom left no-repeat, linear-gradient(#fff, #fff 0) bottom right no-repeat, linear-gradient(#fff, #fff 0) bottom right no-repeat, linear-gradient(#fff, #fff 0) top right no-repeat, linear-gradient(#fff, #fff 0) top right no-repeat;
    background-size: 20px 4px, 4px 20px, 4px 20px, 20px 4px, 4px 20px, 20px 4px, 20px 4px, 4px 20px, 20px 4px;
}

.mask {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    clip: rect(0px, 100px, 1000vh, 0px);
    padding: 5px;
    box-sizing: border-box;
    animation: mask 1.5s ease infinite alternate;
}

.mask-content {
    transform: translateX(0);
    animation: mask-content 1.5s ease infinite alternate;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

}

.laser {
    width: 120%;
    margin-left: -10%;
    background-color: tomato;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 4px red;
    animation: scanning 2.5s  infinite;
}

.diode {
    animation: beam .01s infinite;
    display: none;
}

@keyframes mask {
    to {
        left: calc(100% - 100px);
    }
}

@keyframes mask-content {
    to {
        transform: translateX(calc(-100% + 100px));
    }
}

@keyframes beam {
    10% {
        opacity: 0;
    }
}

@keyframes scanning {
    50% {
        top: 100%;
    }
}