{% extends "base.html" %}


{% block title %}{{ title }}{% endblock %}
{% block header-title %}{{ title }} <a href="{% url 'appointment_list' %}" class="btn btn-sm btn-primary float-right"><i class="fe fe-arrow-left"></i> Back to list</a>{% endblock %}
{% block content %}
    <form method="post" action="" class="mb-4">
        {% csrf_token %}

          {% include 'appointment/_form.html' with form=form %}

        <button type="submit" name="save" class="btn btn-primary" value="save"><i class="fe fe-save"></i> Save</button>
        <button type="submit" name="addapplicant" class="btn btn-primary" value="addapplicant"><i class="fe fe-user-plus"></i> Save and add new applicant</button>

    </form>

{% endblock %}