{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header-title %}{{ title }}
    <a href="{% url 'appointment_create' %}" class="btn btn-sm btn-primary float-right"><i class="fe fe-plus"></i> Create New</a> {% endblock %}
{% block content %}
       <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Location</th>
                <th scope="col">Visa Category</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Applicant</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for appointment in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ appointment.location_name }}</td>
                    <td>{{ appointment.visa_category_name }}</td>
                    <td>{{ appointment.expiry_date }}</td>
                    <td><a href="{% url 'applicant_list' appointment.id %}"
                           class="btn btn-sm btn-outline-primary">{{ appointment.applicants.count }}</a></td>
                    <td><span class="badge badge-warning">Planned</span></td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'appointment_edit' appointment.id %}" class="btn btn-sm btn-light">edit</a>
                            <a href="{% url 'appointment_delete' appointment.id %}"
                               class="btn btn-sm btn-danger">delete</a>
                        </div>

                    </td>
                </tr>
                 {% empty %}
                <tr>
                    <td colspan="7" align="center"><strong>No results</strong></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}