{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header-title %}{{ title }}{% endblock %}
{% block content %}
    <form method="post" action="" class="mb-4">
        {% csrf_token %}

        {% include 'appointment/_form.html' with form=form %}

        <button type="submit" name="save" class="btn btn-block btn-primary" value="save"><i class="fe fe-save"></i> Save</button>
    </form>

{% endblock %}