{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "core/fonts/feather/feather.min.css" %}">
    <link rel="stylesheet" href="{% static "core/css/flatpickr.min.css" %}">
    <link rel="stylesheet" href="{% static "core/css/theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "core/css/style.css" %}"/>
    <title>{% block title %}Visa{% endblock %}</title>
</head>

<body>


<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
    <div class="container-fluid">

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse"
                aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <img src="{% static "core/img/vfs-global-logo.png" %}" class="navbar-brand-img
            mx-auto" alt="Wiza">
        </a>
        <div class="collapse navbar-collapse" id="sidebarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'appointment_list' %}">
                        <i class="fe fe-calendar"></i> Appointments
                    </a>
                </li>
            </ul>
            <hr class="navbar-divider my-3">
            <h6 class="navbar-heading">
              Account {% if user.username %}<strong>{{ user.username }}</strong>{% endif %}
            </h6>
             <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fe fe-settings"></i> Settings
                    </a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <i class="fe fe-x-circle"></i> logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-{% if object_list %}11{% else %}8{% endif %}">
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <!-- Title -->
                                <h1 class="header-title">
                                    {% block header-title %}{% endblock %}
                                </h1>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        {% block content %}
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        {% endblock %}

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div id="footer">
    {% block footer %}{% endblock %}
</div>


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static "core/js/flatpickr.min.js" %}"></script>
<script src="{% static "core/js/script.js" %}"></script>
</body>
</html>