<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form.first_name.label_tag }} {{ form.first_name }} {{ form.first_name.errors }}
            {% if form.first_name.help_text %}
                <p class="help">{{ form.first_name.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form.last_name.label_tag }} {{ form.last_name }} {{ form.last_name.errors }}
            {% if form.last_name.help_text %}
                <p class="help">{{ form.last_name.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form.passport_number.label_tag }} {{ form.passport_number }} {{ form.passport_number.errors }}
            {% if form.passport_number.help_text %}
                <p class="help">{{ form.passport_number.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form.passport_expiry_date.label_tag }} {{ form.passport_expiry_date }} {{ form.passport_expiry_date.errors }}
            {% if form.passport_expiry_date.help_text %}
                <p class="help">{{ form.passport_expiry_date.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-group">
            {{ form.date_of_birth.label_tag }} {{ form.date_of_birth }} {{ form.date_of_birth.errors }}
            {% if form.date_of_birth.help_text %}
                <p class="help">{{ form.date_of_birth.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-group">
            {{ form.nationality_id.label_tag }} {{ form.nationality_id }} {{ form.nationality_id.errors }}
            {% if form.nationality_id.help_text %}
                <p class="help">{{ form.nationality_id.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="form-group">
            {{ form.gender_id.label_tag }} {{ form.gender_id }} {{ form.gender_id.errors }}
            {% if form.gender_id.help_text %}
                <p class="help">{{ form.gender_id.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            {{ form.email_id.label_tag }} {{ form.email_id }} {{ form.email_id.errors }}
            {% if form.email_id.help_text %}
                <p class="help">{{ form.email_id.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="form-group">
            {{ form.dial_code.label_tag }} {{ form.dial_code }} {{ form.dial_code.errors }}
            {% if form.dial_code.help_text %}
                <p class="help">{{ form.dial_code.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>
    <div class="col-10 col-md-10">
        <div class="form-group">
            {{ form.phone_mobile.label_tag }} {{ form.phone_mobile }} {{ form.phone_mobile.errors }}
            {% if form.phone_mobile.help_text %}
                <p class="help">{{ form.phone_mobile.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>

</div>