{% extends "base.html" %}


{% block title %}{{ title }}{% endblock %}
{% block header-title %}{{ title }}
    <span class="btn btn-outline-primary btn-file float-right"><i class="fe fe-camera"></i> Upload<input type="file"
                                                                                                         accept="image/*"></span>
{% endblock %}
{% block content %}
    <form method="post" action="" class="mb-4">
        {% csrf_token %}

        {% include 'applicant/_form.html' with form=form %}


        <div class="row align-items-center justify-content-between">
            <div class="col-auto">

                <a href="{% url 'applicant_list' appointment.id %}" class="btn btn-danger"><i
                        class="fe fe-x"></i> Cancel</a>

            </div>
            <div class="col-auto">
                <button type="submit" name="save" class="btn btn-primary" value="save"><i class="fe fe-save"></i>
                    Save
                </button>
                <button type="submit" name="addapplicant" class="btn btn-primary" value="addapplicant"><i
                        class="fe fe-user-plus"></i> Save and add new applicant
                </button>

            </div>
        </div>

    </form>


    <!-- Modal -->
    <div class="modal fade" id="image-upload-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class=" card" data-toggle="lists" data-lists-values='["name"]'>
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-header-title" id="exampleModalCenterTitle">
                                    Passport scanning
                                </h4>

                            </div>
                            <div class="col">
                                <div class="loader loader-sm"></div>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <div id="preview-wrapper">
                            <div class="scanning-image">
                                <div class="focus">
                                    <img src="" class="img-preview">
                                </div>
                                <div class="mask-corner"></div>
                                <div class="mask">
                                    <div class="mask-content">
                                        <img src="" class="img-preview">
                                    </div>
                                    <div class="diode">
                                        <div class="laser"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}