{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header-title %}{{ title }}{% endblock %}
{% block content %}
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}" ?</p>
        <p>
            <button type="submit" class="btn btn-danger"><i class="fe fe-trash-2"></i> Delete</button>
        </p>
    </form>
{% endblock %}