{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header-title %}{{ title }}
    <a href="{% url 'applicant_create' appointment.id %}" class="btn btn-sm btn-primary float-right"><i
            class="fe fe-user-plus"></i> Create New</a> {% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Passport number</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for applicant in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ applicant.first_name }}</td>
                    <td>{{ applicant.last_name }}</td>
                    <td>{{ applicant.passport_number }}</td>
                    <td>{{ applicant.date_of_birth }}</td>
                    <td><span class="badge badge-warning">Planned</span></td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'applicant_edit' applicant.id %}" class="btn btn-sm btn-light">edit</a>
                            <a href="{% url 'applicant_delete' applicant.id %}" class="btn btn-sm btn-danger">delete</a>
                        </div>

                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" align="center"><strong>No results</strong></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock %}